@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(235, 235, 235);
    position: relative;
    background: url('./images/coticoamasso.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
.banner{
    position: absolute;
    height: 20%;
    width: 100%;
    top: 0;
    background: rgb(235,235,235);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.082) 0%, rgba(0, 0, 0, 0.452) 100%);

    display: grid;
    place-items: center;
}

.formulario {
    position: relative;
    width: 90%;
    max-width: 500px;
    height: auto;
    background: transparent;
    border: 2px solid rgba(44, 43, 43, 0.152);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.title {
    font-family: 'poppins';
    font-size: 2.5em;
    color: #fff;
    font-weight: 600;
}

.mapa {
    overflow: hidden;
    border-radius: 20px;
}

.mapa *{
    border-radius: 20px;
}

@media only screen and (max-width: 768px) {
    .formulario {
        max-width: 100%;
    }
}
