@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
   font-family: 'poppins';
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition: all .2s linear;
   text-transform: capitalize;
}

html{
   overflow-x: hidden;
}

body{
   background: rgba(201, 197, 197, 0.709);
}

h3{
   font-family: 'poppins';
   font-weight: 700;
}

.container{
   max-width: 1200px;
   margin: 0 auto;
   padding: 2rem 0rem;
}

.container .title{
   font-size: 3.5rem;
   color:#000000;
   margin-bottom: 3rem;
   text-transform: uppercase;
   text-align: center;
}

.container .pets-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
   gap:2rem;
}

.container .pets-container .pet{
   align-items: center;
   justify-content: center;
   border-radius: 20px;
   text-align: center;
   padding:3rem 2rem;
   background: rgba(248, 226, 193, 0.818);
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
   border: 4px solid rgba(0, 0, 0, 0.5);
   border-radius: 20px;
   cursor: pointer;
}

.container .pets-container .pet img{
   height: 25rem;
}

.container .pets-container .pet:hover img{
   transform: scale(.9);
}

.container .pets-container .pet h3{
   padding:.5rem 0;
   font-size: 2rem;
   color:#000000;
}

.container .pets-container .pet:hover h3{
   color:#000000;
}

.container .pets-container .pet .raridade{
   font-size: 2rem;
   color:#444;
   font-weight: bold;
}

.container .pets-container .pet .raridade1{
   font-size: 2rem;
   color:#11e61c;
   font-weight: bold;
}

.container .pets-container .pet .raridade2{
   font-size: 2rem;
   color:#052de0;
   font-weight: bold;
}

.pets-preview{
   position: fixed;
   top:0; left:0;
   min-height: 100vh;
   width: 100%;
   background: rgba(0,0,0,.8);
   display: none;
   align-items: center;
   justify-content: center;
}

.pets-preview .preview{
   display: none;
   padding:2rem;
   text-align: center;
   background: rgb(255, 255, 255);
   position: relative;
   margin:2rem;
   width: 40rem;
   border-radius: 20px;
}

.pets-preview .preview.active{
   display: inline-block;
}

.pets-preview .preview img{
   max-height: 300px;
   width: 260px;
}

.pets-preview .preview .fa-times{
   position: absolute;
   top:1rem; right:1.5rem;
   cursor: pointer;
   color:#444;
   font-size: 4rem;
}

.pets-preview .preview .fa-times:hover{
   transform: rotate(90deg);
}

.pets-preview .preview h3{
   color:#444;
   padding:.5rem 0;
   font-size: 2.5rem;
}

.pets-preview .preview p{
   line-height: 1.5;
   padding:1rem 0;
   font-size: 1.6rem;
   color:#777;
}

.pets-preview .preview .raridade{
   padding:1rem 0;
   font-size: 2.5rem;
   color:#27ae60;
}

@media (max-width:768px){

   .pets-preview .preview img{
      height: 25rem;
   }

}

.navbarteste{
   font-size: 200%;
}