@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap%27');

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}
html, body {
    margin: 0;
    padding: 0;
}
.banner{
    position: absolute;
    height: 15%;
    width: 100%;
    top: 0;
    background: rgb(235,235,235);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.019) 0%, rgba(0, 0, 0, 0.504) 100%);
    display: grid;
    place-items: center;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url('./images/coticoFundo.png')no-repeat;
    background-position: center;
    background-size: cover;
}

.form-value{
    position: relative;
    width: 90vw; 
    max-width: 450px;
    height: 75vh;
    background: rgba(255, 255, 255, 0.14);
    border: 2px solid rgba(44, 43, 43, 0.152);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10%;
}
#img {
    border: 8px solid #fff;
    width: 280px;
    height: 400px;
}
.camera{
    width: 50%; 
}
.form input {
    text-align: center;
}
.input-div input{
    height: 36px;
    padding: 0 10px;
    border: none;
    color: white;
}
.teste{
    color: #fff;
    font-size: 1.5rem;
}
.title{
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
    font-weight: 600;
}
label{
    color: #fff;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="file"]{
    display: none;
}

@media only screen and (max-width: 600px) {
  .formulario {
    height: 90vh;
  }
  #img {
    width: 100%;
    /* max-width: 250px; */
  }
  p, label {
    font-size: 1rem;
  }
}
